.fab_btn {
    width: 30px;
    height: 30px;
    border-radius:100%;
    background: indianred;
    border: none;
    color:#FFF;
    font-size: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}

.btn-container {
    position: absolute;
    bottom: 0;
    right: 0;
}